@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
}
.wrapper {
  max-width: 1080px;
  margin: auto;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 300px;
  padding: 15px;
  background-color: #3a3a3a;
  border-radius: 10px;
  margin: 10px 10px;
  box-shadow: 0 0 30px rgba(2, 2, 2, 0.493);
}

.card img {
  width: 100%;
  border-radius: 5px;
  /* z-index: 100; */
  position: relative;
  margin-bottom: 20px;
}

.num {
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  bottom: 0;
  color: #ff9900;
  position: absolute;
  line-height: 170px;
  opacity: 1;
}

.name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  /* z-index: 100; */
  text-align: end;
  color: white;
  position: relative;
}
