@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121212;
}

.inner-body {
  color: #ffffff;
  font-size: 100px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.wrapper {
  max-width: 1080px;
  margin: auto;
  padding: 30px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  width: 300px;
  padding: 15px;
  background-color: #3a3a3a;
  border-radius: 10px;
  margin: 10px 10px;
  box-shadow: 0 0 30px rgba(2, 2, 2, 0.493);
}

.card img {
  width: 100%;
  border-radius: 5px;
  /* z-index: 100; */
  position: relative;
  margin-bottom: 20px;
}

.num {
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  bottom: 0;
  color: #ff9900;
  position: absolute;
  line-height: 170px;
  opacity: 1;
}

.name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  /* z-index: 100; */
  text-align: end;
  color: white;
  position: relative;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.dspn {
  display: none;
}
